/*\
 | -------------------------------------
 | Imports
 | -------------------------------------
\*/

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";

/*\
 | -------------------------------------
 | Vars
 | -------------------------------------
\*/

// $fonts:400 16px/18px 'Roboto',
// 'Verdana',
// 'Helvatica',
// 'Arial',
// sans-serif;
// $font-color:#4a4a4a;
// $accent-font-color:#9a9a9a;
// $accent-color:#2c8898;
// $background-color:#f9f9f9;

// /*\
//  | -------------------------------------
//  | Generals
//  | -------------------------------------
// \*/

body {
    font: $font-family-sans-serif;
    color: $gray-700;
    background-color: $gray-100;
    margin: 5vw 10vw;
}

a {
    color: $gray-600;
    text-decoration: none;

    &:hover {
        color: theme-color("primary");
    }
}

h1 {
    font-size: 3em;
    line-height: 3em;
}

ul,
ol {
    padding: 1em;
}

ul li {
    list-style: none;
}

blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid theme-color("primary");
}

hr {
    border-color: theme-color("primary");
}

table {
    width: 100%;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid $gray-200;
}

caption,
figcaption {
    text-align: center;
    font-style: italic;
    font-size: .9em;
    text-align: center;
    display: inline-block;
    width: 100%;
}

pre,
code,
samp {
    background-color: $gray-200;
}

pre {
    padding: .75em;
}

figure {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

video {
    max-width: 100%;
    min-width: 400px;
    min-height: 300px;
}

/*\
 | -------------------------------------
 | Progress bars
 | -------------------------------------
\*/

//Colors
$progress-bar-color: #26a69a !default;
$progress-bar-background:#7c7876 !default;

//Sizes
$progress-height: 8px !default;
$progress-width: 100% !default;

//Apparence
$progress-border-radius: 1px !default;

//Animation
$progress-determinate-time: 0.5s;
$progress-indeterminate-time: 2.1s;


// PROGRESS STYLE
progress {
    position: relative;
    height: $progress-height;
    display: block;
    width: $progress-width;
    border-radius: $progress-border-radius;
    background-color: $progress-bar-background;
    background-clip: padding-box;
    overflow: hidden;
    margin: 0 auto;

    &::-moz-progress-bar {
        // Firefox - ie styles must be entirely separate or it busts Webkit styles.
        background-color: $progress-bar-background;
    }

    &::-ms-progress-bar,
    &::progress-bar {
        background-color: $progress-bar-background;
    }

    &::-webkit-progress-bar {
        background-color: $progress-bar-background;
    }

    &[value] {
        background-color: $progress-bar-color;
        appearance: none;

        &::-moz-progress-value {
            // Firefox - ie styles must be entirely separate or it busts Webkit styles.
            background-color: $progress-bar-color;
            transition: width $progress-determinate-time cubic-bezier(0, 0, 1, -0.12);
        }

        &::-ms-progress-value,
        &::progress-value {
            background-color: $progress-bar-color;
            transition: width $progress-determinate-time cubic-bezier(0, 0, 1, -0.12);
        }

        &::-webkit-progress-value {
            background-color: $progress-bar-color;
            transition: width $progress-determinate-time cubic-bezier(0, 0, 1, -0.12);
        }
    }

    &:not([value]) {
        background-color: $progress-bar-color;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate $progress-indeterminate-time cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        &:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            animation: indeterminate-short $progress-indeterminate-time cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation-delay: 1.15s;
        }
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }

    60% {
        left: 100%;
        right: -90%;
    }

    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }

    60% {
        left: 107%;
        right: -8%;
    }

    100% {
        left: 107%;
        right: -8%;
    }
}



/*\
 | -------------------------------------
 | Navigation
 | -------------------------------------
\*/

// Desktop
// Attention, non mobile friendly
// nav {
//     & a {
//         padding: .5em 1em;
//         color: #777;
//         text-decoration: none;
//         background-color: white;

//         &:hover {
//             background-color: #eee;
//         }
//     }

//     & ul {
//         margin: 0;
//         padding: 0;
//         display: inline-block;

//         & li {
//             display: inline-block;

//             & a {
//                 display: inline-block;
//             }

//             & ul {
//                 display: none;
//                 position: absolute;

//                 & li {
//                     display: block;

//                     & ul a {
//                         display: none;

//                     }

//                     &:hover ul {
//                         & a {
//                             display: block;

//                         }

//                         & li {
//                             display: inline-block;

//                             & a {
//                                 display: inline-block;
//                             }
//                         }
//                     }
//                 }
//             }

//             &:hover ul {
//                 display: inline-block;
//                 width: 100%;
//             }
//         }
//     }
// }