/*\
 | -------------------------------------
 | Imports
 | -------------------------------------
\*/

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";

/*\
 | -------------------------------------
 | Vars
 | -------------------------------------
\*/

// $fonts:400 16px/18px 'Roboto',
// 'Verdana',
// 'Helvatica',
// 'Arial',
// sans-serif;
// $font-color:#4a4a4a;
// $accent-font-color:#9a9a9a;
// $accent-color:#2c8898;
// $background-color:#f9f9f9;

// /*\
//  | -------------------------------------
//  | Generals
//  | -------------------------------------
// \*/

body {
    font: $font-family-sans-serif;
    color: $gray-700;
    background-color: $gray-100;
    margin: 5vw 10vw;
}

a {
    color: $gray-600;
    text-decoration: none;

    &:hover {
        color: theme-color("primary");
    }
}

h1 {
    font-size: 3em;
    line-height: 3em;
}

ul,
ol {
    padding: 1em;
}

ul li {
    list-style: none;
}

blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid theme-color("primary");
}

hr {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid $gray-400;
}

table {
    width: 100%;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid $gray-200;
}

caption,
figcaption {
    text-align: center;
    font-style: italic;
    font-size: .9em;
    text-align: center;
    display: inline-block;
    width: 100%;
}

pre,
code,
samp {
    background-color: $gray-200;
}

pre {
    padding: .75em;
}

figure {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
}

video {
    max-width: 100%;
    min-width: 400px;
    min-height: 300px;
}

/*\
 | -------------------------------------
 | Progress bars
 | -------------------------------------
\*/

progress,
meter {
    width: 100%;
    height: 6px;

}

/*\
 | -------------------------------------
 | Forms
 | -------------------------------------
\*/

input,
textarea {
    border: 0;
    background-color: $gray-200;
    padding: 0.5em;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus {
    box-shadow: 0 0 0 1px theme-color("primary");
}

label {
    display: block;
    font-weight: 600;
}

button {
    background-color: theme-color("primary");
    border: 0;
    border-radius: 3px;
    color: white;
    padding: 0.5em;

    &:hover {
        background-color: #0051a9; // primary darker
    }
}

/*\
 | -------------------------------------
 | Navigation
 | -------------------------------------
\*/

// Desktop
// Attention, non mobile friendly
// nav {
//     & a {
//         padding: .5em 1em;
//         color: #777;
//         text-decoration: none;
//         background-color: white;

//         &:hover {
//             background-color: #eee;
//         }
//     }

//     & ul {
//         margin: 0;
//         padding: 0;
//         display: inline-block;

//         & li {
//             display: inline-block;

//             & a {
//                 display: inline-block;
//             }

//             & ul {
//                 display: none;
//                 position: absolute;

//                 & li {
//                     display: block;

//                     & ul a {
//                         display: none;

//                     }

//                     &:hover ul {
//                         & a {
//                             display: block;

//                         }

//                         & li {
//                             display: inline-block;

//                             & a {
//                                 display: inline-block;
//                             }
//                         }
//                     }
//                 }
//             }

//             &:hover ul {
//                 display: inline-block;
//                 width: 100%;
//             }
//         }
//     }
// }